/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Common */
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Main */
.container{
    width: 80%;
    margin: 20px auto;
}

/* Rows */
.row{
    margin-bottom: 30px;
}

/* Cards */
.card{
    width: calc(100% / 3 - 3px);
    display: inline-block;
}

/* Photos */
.photo{
    width: 100%;
    position: relative;
}

img{
    width: 100%;
    height: 100%;
}
                                    /* perchè immagini occupano poco meno del loro contenitore */

.photo img:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
}

.photo img:nth-child(2):hover{
    display: none;
    cursor: pointer;
}


/* Tags */
.tag{
    color: white;
    display: inline-block;
    padding: 5px 7px;
}

.tag-container{
    position: absolute;
    bottom: 3%;
    left: 0%;
}

.sale-box{
    background-color: #eb0037;
}

.sost{
    background-color: #00875a;
}

.heart{
    position: absolute;
    color: black;
    background-color: white;
    top: 3%;
    right: 0%;
    padding: 5px 7px;
}

.heart:hover{
    color: #eb0037;
    font-size: 30px;

}

/* Text */
.text{
    padding-top: 2%;
}

.brand{
    font-size: 0.7rem;
    color: #333b3f;
}

.name{
    font-size: 1rem;
    font-weight: bolder;
}

.priece{
    font-size: 1rem;
    font-weight: bolder;
    color: #ff3c57;
}

.sale{
    margin-left: 5px;
    color: #566868;
    text-decoration: line-through;
}


